.targetButton {
  margin-right: 8px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  letter-spacing: 0.2mm;
  float: left;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: blueviolet !important;
  border-top-color: ghostwhite;
  border-left-color: ghostwhite;
  border-right-color: ghostwhite;
  color: dimgray;
  background: ghostwhite;
  /* border-radius: 10px */
}

.sprintButton {
  margin-right: 8px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0.2mm;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: blueviolet !important;
  border-top-color: ghostwhite;
  border-left-color: ghostwhite;
  border-right-color: ghostwhite;
  color: dimgray;
  /* border-radius: 10px */
}

.effortButton {
  margin-right: 8px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  letter-spacing: 0.2mm;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: blueviolet !important;
  border-top-color: ghostwhite;
  border-left-color: ghostwhite;
  border-right-color: ghostwhite;
  color: dimgray;
  /* border-radius: 10px */
}

.box {
  width: 1300px;
  height: 600px;
  margin-right: 80px;
  border: solid 1px white !important;
  z-index: -1000;
  border-radius: 25px;
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgb(118 135 154 / 24%), 0 3px 8px 0 rgb(118 135 154 / 8%)
};

.enterButton {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  font-size: 25px;
  margin-left: 50px;
  color: darkmagenta
}