.targetButton {
  margin-right: 8px;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  letter-spacing: 0.2mm;
  top: 80px;
  float: left;
  border-right: none;
  border-bottom-color: blueviolet !important;
  border-top-color: ghostwhite;
  border-left-color: ghostwhite;
  border-right-color: ghostwhite;
  color: dimgray;
  border-top: 1px solid silver;
  /* border-radius: 10px */
}

.sprintButton {
  margin-right: 8px;
  font-size: 16px;
  padding-top: 10px;
  top: 80px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0.2mm;
  border-left: none;
  border-right: none;
  border-bottom-color: blueviolet !important;
  border-top-color: ghostwhite;
  border-left-color: ghostwhite;
  border-right-color: ghostwhite;
  color: dimgray;
  border-top: 1px solid silver;
  /* border-radius: 10px */
}

.effortButton {
  margin-right: 8px;
  font-size: 16px;
  top: 80px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  letter-spacing: 0.2mm;
  border-left: none;
  border-right: none;
  border-bottom-color: blueviolet !important;
  border-top-color: ghostwhite;
  border-left-color: ghostwhite;
  border-right-color: ghostwhite;
  color: dimgray;
  border-top: 1px solid silver;
  /* border-radius: 10px */
}

.box {
  border: solid 0.5px lightgray !important;
  border-radius: 25px;
  height:650px!important;
  margin-bottom: 300px!important;
  position: absolute;
  top: 48px;
  margin-right: 200px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgb(118 135 154 / 24%), 0 3px 8px 0 rgb(118 135 154 / 8%)
};

.enterButton {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  font-size: 25px;
  margin-left: 80px;
  color: darkmagenta
}

h5{
  font-size: 25px;
  margin-left: 9px;
  margin-top: 32px;
  color: darkmagenta
}

p {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 32px;
  font-weight: bold;
  color: darkmagenta;
  text-decoration: underline
}

h6{
  font-size: 18px;
  right: 72px;
  margin-top: -60px;
  font-weight: bold;
  position: absolute;
  float: right;
  color: black;
}