h2{
    color: darkmagenta;
    text-align: center;
    display:inline;
    margin-top: 1000px;
    margin-left: 68px;
    font-size: 20px;
}

pre{
    display:inline;
}

Link{
    text-align: center;
    margin-top: 100px;
}

.Thing{
    color: black;
    text-align: center;
    display:inline;
    margin-top: 1000px;
}

.menuLine {
    background-color: black;
    size: 50px;
    width: 60px;
    height: 3px;
    border:none;
  }
  
  .menuLine2 {
    background-color: black;
    size: 50px;
    width: 60px;
    height: 3px;
    border:none;
  }
  
  .menuLine3 {
    background-color: black;
    size: 50px;
    width: 60px;
    height: 3px;
    border:none;
  }