.App {
  text-align: center;
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}*/

.App-link {
  color: #61dafb;
}


/* dropdown */
.Menu {
  border-radius: 0;
  color: white;
  padding: 10px 10px;
  background: red!important;
  font-weight: bold;
  font-size: 28px;
}

.Behind-Button {
  padding-bottom: 57px;
  background-color: purple!important;
}

.Button{
  font-weight: bold;
  float: left;
  padding: 10px 30px;
  background-color: yellow!important;
  font-size: 28px;
  margin-right: auto;
  margin-top: 0;
  display:block;
}